/* --- Fonts --- */

@font-face {
    font-family: "Helvetica";
    src:
      local("Helvetica"),
      url("../assets/fonts/Helvetica-Font/webfontkit-20230921-031522/helvetica-webfont.woff2") format("woff2"),
      url("../assets/fonts/Helvetica-Font/webfontkit-20230921-031522/helvetica-webfont.woff") format("woff");
}

@font-face {
    font-family: "Helvetica Bold";
    src:
      local("Helvetica Bold"),
      url("../assets/fonts/Helvetica-Font/webfontkit-20230921-031522/helvetica-bold-webfont.woff2") format("woff2"),
      url("../assets/fonts/Helvetica-Font/webfontkit-20230921-031522/helvetica-bold-webfont.woff") format("woff");
}
  

/* --- Headings --- */

.h1 {
    width: 100%;
    color: #060B13;
    text-align: justify;
    font-family: Helvetica Bold;
    font-size: 48px;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin: 0;
}

.h1-home {
    width: 45%;
}

.h2 {
    color: #060B13;
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 500;
    margin: 0;
}

.h2-white {
    color: #ECF1F9;
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 500;
    margin: 0;
}

.h3,
.prix {
    color: #060B13;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.h3-white,
.prix-white {
    color: #ECF1F9;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.h3-large {
    color: #060B13;
    font-family: Helvetica Bold;
    font-size: 24px;
    margin: 0;
}

body {
    color: #060B13;
    font-family: Helvetica;
    font-size: 20px;
}

a {
    color: #060B13;
    text-decoration: none;
}

/* --- Components --- */

.btn-white {
    border: solid 1px #ECF1F9;
    border-radius: 4px;
    background: transparent;
    color: #ECF1F9;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 64px;
    width: fit-content;
    transition: all .3s;
    text-decoration: none;
    height: fit-content;
}

.btn-white:hover {
    background: #ECF1F9;
    color: #9CACC9;
}

.btn {
    border: solid 1px #3D598F;
    border-radius: 4px;
    background: transparent;
    color: #060B13;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 64px;
    width: fit-content;
    transition: all .3s;
    text-decoration: none;
    height: fit-content;
}

.btn:hover {
    background: #3D598F;
    color: #ECF1F9;
}

.btn-primaire {
    border: solid 1px #3D598F;
    border-radius: 4px;
    background: #3D598F;
    color: #ECF1F9;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 64px;
    width: fit-content;
    transition: all .3s;
    text-decoration: none;
    height: fit-content;
}

.btn-primaire:hover {
    background: #060B13;
}

/* --- Header --- */

.header {
    background: #ECF1F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 100px 12px;
}

.header .menu {
    font-family: Helvetica Bold;
    color: #060B13;
    font-size: 16px;
    width: 200px;
    text-align: center;
}

.header .logo img {
    height: 50px;
}


/* --- Main --- */

.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
}

/* ------- ACCUEIL ------- */

/* --- Title --- */

.title {
    display: flex;
    justify-content: end;
    width: 100%;
}


/* --- Aricles en avant --- */

.top {
    display: flex;
    gap: 16px;
}

.top .article-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #9CACC9;
    padding: 24px 32px;
    width: 50%;
    height: fit-content;
}

.top .article-top:first-child {
    background: #3D598F;
}

.top .invisible {
    height: 50px;
    width: 250px;
    border-radius: 300px;
    background: rgba(255, 255, 255, 0.50);
    filter: blur(50px);
    margin: 400px auto 50px;
}

.top .description {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.top .description .cta {
    width: 100%;
    display: flex;
    justify-content: end;
}


/* --- Aricles --- */

.enchere {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.line {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.article {
    display: flex;
    flex-direction: column;
    width: calc((100% - 48px)/ 4);
    height: fit-content;
}

.image {
    background: #ECF1F9;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    height: fit-content;
    transition: all .3s;
}

.image:hover {
    background: #9CACC9;
}

.like {
    display: flex;
    justify-content: end;
}

.like img {
    max-height: 20px;
}

.invisible-dark {
    height: 32px;
    width: 150px;
    border-radius: 300px;
    background: rgba(61, 89, 143, 0.30);
    filter: blur(30px);
    margin: 250px auto 32px;
}

.description {
    padding: 8px;
}


/* ------- DETAILS ------- */

/* --- Breadcrumbs --- */

.breadcrumbs {
    width: 100%;
}

.breadcrumbs .back {
    padding: 0 8px;
    text-decoration: none;
    color: #060B13;
    font-family: Helvetica;
    font-size: 14px;
}

.breadcrumbs .back img {
    height: 10px;
    margin-right: 6px;
}

/* --- Slider --- */

.produit {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.slider {
    display: flex;
    gap: 12px;
    width: 100%;
}

.slider .image {
    width: calc((100% - 36px)/ 4);
    height: 350px;
    display: flex;
    justify-content: flex-end;
    background: #ECF1F9;
    padding: 0;
    opacity: .9;
}

.slider .image:hover {
    background: #9CACC9;
}


/* --- Info produit --- */

.info-pdt {
    display: flex;
    gap: 12px;
}

.info-pdt .titre-pdt {
    width: 50%;
}

.info-pdt .desc-pdt {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.desc-pdt .prix-pdt {
    color: #060B13;
    font-family: Helvetica Bold;
    font-size: 24px;
}

.desc-pdt .text-pdt {
    color: #060B13;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 300;
}

.desc-pdt .action-pdt {
    height: 50px;
    display: flex;
    justify-content: end;
    gap: 12px;
}


/* --- Produits similaires --- */

.more {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


/* ------- NEWENCHERE ------- */

/* --- Formulaire --- */

.ajout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
} 

.form-image {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
    background: #ECF1F9;
}

.form-image .img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: #060B13 solid 1px;
    font-size: 16px;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
    background: #ECF1F9;
}

.form .valider {
    display: flex;
    justify-content: end;
    padding: 12px 0;
}

.form .form-item {
    display: flex;
}

.form .form-item label {
    width: 50%;
}

.form .form-item input {
    width: 50%;
    background: transparent;
    border: none;
    border-bottom: rgb(6,11,19,.3) solid 1px;
    padding: 4px 8px;
}

.form .form-item input#desc {
    padding-bottom: 150px;
}

.form-content .separator {
    width: 100%;
    height: 1px;
    background: #060B13;
}